<div class="login-container">
  <!-- Imagen en el lado izquierdo -->
  <div class="login-image">
    <img src="assets/images/backgrounds/login_register.png" alt="Family Hug" />
  </div>
  
  <!-- Formulario en el lado derecho -->
  <div class="login-card">
    <div class="auth-box">
      <h2 class="auth-title">{{ 'LOGIN.TITLE' | translate }}</h2>
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'LOGIN.EMAIL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Correo electrónico')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" required />
              <mat-error *ngIf="f.email.invalid && f.email.touched">
                {{ 'LOGIN.INVALID_EMAIL' | translate }}
              </mat-error>
            </mat-form-field>
          
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Ingrese su contraseña')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" required />
              <mat-error *ngIf="f.password.invalid && f.password.touched">
               {{ 'LOGIN.INVALID_PASSWORD' | translate }}
              </mat-error>
            </mat-form-field>
          
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">{{ 'LOGIN.REMEMBER_ME' | translate }}</mat-checkbox>
            </div>
          
            <button mat-flat-button color="primary" class="w-100" type="submit">
              {{ 'LOGIN.LOGIN_BUTTON' | translate }}
            </button>
          </form>          

          <span class="d-block f-w-500 text-center m-t-24">
            {{ 'LOGIN.NO_ACCOUNT' | translate }}
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              {{ 'LOGIN.REGISTER' | translate }}
            </a>
          </span>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
