<div class="container">
    <!-- Panel izquierdo -->
    <div class="left-panel">
      <div class="avatar-section">
        <img [src]="userImageUrl || 'assets/images/default-avatar.jpg'" alt="Avatar" class="avatar-img" />
      </div>
  
      <div class="menu-buttons">
        <button mat-button class="info-btn"><i class="fa fa-user"></i>{{ 'PROFILE.MENU.INFO' | translate }}</button>
        <button mat-button class="docs-btn"><i class="fa fa-file"></i> {{ 'PROFILE.MENU.DOCS' | translate }}</button>
        <button mat-button class="pay-btn"><i class="fa fa-dollar-sign"></i> {{ 'PROFILE.MENU.PAYMENTS' | translate }}</button>
      </div>
    </div>
  
    <!-- Panel derecho -->
    <div class="right-panel">
      <mat-card>
        <div *ngIf="!hasInfo" class="no-info-msg">
          <p>{{ 'PROFILE.NO_INFO' | translate }}</p>
        </div>

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-container">
          <mat-label>{{ 'PROFILE.FORM.NAME' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="name" placeholder="Escribe tu nombre" />
          </mat-form-field>

          <mat-label>{{ 'PROFILE.FORM.LAST_NAME' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="lastName" placeholder="Escribe tu apellido" />
          </mat-form-field>

          <mat-label>{{ 'PROFILE.FORM.PHONE_PREFIX' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="phonePrefix" />
          </mat-form-field>

          <mat-label>{{ 'PROFILE.FORM.PHONE' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="phone" />
          </mat-form-field>

          <mat-label>>{{ 'PROFILE.FORM.COUNTRY' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="country" />
          </mat-form-field>

          <mat-label>{{ 'PROFILE.FORM.BIRTH_DATE' | translate }}</mat-label>
          <mat-form-field appearance="fill">
            <input matInput type="date" formControlName="birthDate" />
          </mat-form-field>

          <div class="form-buttons">
            <button *ngIf="!isEditMode" mat-stroked-button color="primary" type="button" (click)="enableEdit()">
              {{ 'PROFILE.ACTIONS.EDIT' | translate }}
            </button>

            <button *ngIf="isEditMode" mat-raised-button color="primary" type="submit">
              {{ 'PROFILE.ACTIONS.SAVE' | translate }}
            </button>
          </div>
        </form>
      </mat-card>

    </div>
  </div>
  