<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-card row w-100 h-100">
    <!-- Imagen de la izquierda -->
    <div class="col-lg-6 login-image">
      <img src="assets\images\backgrounds\login_register.png" alt="Family Hug" class="img-fluid" />
    </div>
    <!-- Formulario de login -->
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <form class="m-t-30">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Correo</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" />
            </mat-form-field>
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Recuérdame</mat-checkbox>
            </div>
            <a [routerLink]="['/dashboard']" mat-flat-button color="primary" class="w-100">
              Iniciar Sesión
            </a>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">¿Aún no tienes cuenta?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Regístrate</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
