<div class="login-container">
  <!-- Imagen en el lado izquierdo -->
  <div class="login-image">
    <img src="assets/images/backgrounds/login_register.png" alt="Family Hug" />
  </div>
  
  <!-- Formulario en el lado derecho -->
  <div class="login-card">
    <div class="auth-box">
      <h2 class="auth-title">{{ 'REGISTER.TITLE' | translate }}</h2>
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'REGISTER.EMAIL_LABEL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Ingrese su Correo electrónico')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" required />
              <mat-error *ngIf="f.email.invalid">{{ 'REGISTER.EMAIL_ERROR' | translate }}</mat-error>
            </mat-form-field>
          
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'REGISTER.PREFIX_LABEL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Ingrese el Prefijo de su país')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="tel" formControlName="phonePrefix" placeholder="+57" required />
              <mat-error *ngIf="f.phone.invalid && f.phone.touched">
                {{ 'REGISTER.PREFIX_ERROR' | translate }}
              </mat-error>
            </mat-form-field>

            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'REGISTER.PHONE_LABEL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Ingrese su teléfono')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="tel" formControlName="phone" required />
              <mat-error *ngIf="f.phone.invalid && f.phone.touched">
                {{ 'REGISTER.PHONE_ERROR' | translate }}
              </mat-error>
            </mat-form-field>
          
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'REGISTER.PASSWORD_LABEL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Ingrese una contraseña')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" required />
              <mat-error *ngIf="f.password.invalid && f.password.touched">
                {{ 'REGISTER.PASSWORD_ERROR' | translate }}
              </mat-error>
            </mat-form-field>
          
            <div class="d-flex align-items-center justify-between">
              <mat-label class="input-label">{{ 'REGISTER.CONFIRM_LABEL' | translate }}</mat-label>
              <button mat-icon-button color="primary" type="button" (click)="leer('Confirme su contraseña')">
                🔊
              </button>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="confirmPassword" required />
              <mat-error *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">
                {{ 'REGISTER.CONFIRM_ERROR' | translate }}
              </mat-error>
            </mat-form-field>
          
            <button mat-flat-button color="primary" class="w-100" type="submit">
              {{ 'REGISTER.SUBMIT' | translate }}
            </button>
          </form>
          

          <span class="d-block f-w-500 text-center m-t-24">
            {{ 'REGISTER.LOGIN_PROMPT' | translate }}
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              {{ 'REGISTER.LOGIN_LINK' | translate }}
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
