<h2 mat-dialog-title>{{ 'OTP_DIALOG.TITLE' | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'OTP_DIALOG.MESSAGE' | translate }}</p>
  <form [formGroup]="otpForm">
    <mat-label class="input-label">{{ 'OTP_DIALOG.LABEL' | translate }}</mat-label>

    <mat-form-field appearance="outline" class="w-100" style="min-width: 250px;">
        <input matInput type="text" formControlName="otpCode" />
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">{{ 'OTP_DIALOG.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="validateOtp()" [disabled]="otpForm.invalid">
    {{ 'OTP_DIALOG.VERIFY' | translate }}
  </button>
</mat-dialog-actions>
